.container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  /* Adjust column proportions as needed */
  gap: 5px;
}

.columnaUno {
  /* Sidebar styles */
  border-radius: 15%;
}



/* Mobile */
@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }
}



/* Desktop */
@media (min-width: 769px) {
  /* Desktop-specific styles */
  .container{
    background-color: blue;
  }
}