.container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  /* Adjust column proportions as needed */
  gap: 5px;
}

.columnaUno {
  /* Sidebar styles */
  border-radius: 15%;
}

.columnaDos {
  /* Main content styles */
}

/* Mobile */
@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }
}

/* Tablet */
@media (min-width: 769px) and (max-width: 991px) {
  /* Tablet-specific styles */
}

/* Desktop */
@media (min-width: 992px) {
  /* Desktop-specific styles */
}