.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  /* Adjust column proportions as needed */
  gap: 2px;
  background-color: red;
}


/* Mobile */
@media (max-width: 768px) {

  /* .container {
    grid-template-columns: 1fr;
  } */
  .container {}

  .columnaUno {
    /* Sidebar styles */
    border-radius: 15%;
    background-color: blue;
  }

  .columnaDos {
    /* Main content styles */
    background-color: gold;
  }

}


/* Desktop */
@media (min-width: 769px) {

  /* Desktop-specific styles */
  .container {

  }

  .columnaUno {
    /* Sidebar styles */
    border-radius: 15%;
    background-color: blue;
  }

  .columnaDos {
    /* Main content styles */
    background-color: gold;
  }
}